
.icon-address:before { content: '\e800'; } /* '' */
.icon-back:before { content: '\e801'; } /* '' */
.icon-complete:before { content: '\e802'; } /* '' */
.icon-date:before { content: '\e803'; } /* '' */
.icon-info:before { content: '\e804'; } /* '' */
.icon-logout:before { content: '\e805'; } /* '' */
.icon-menu:before { content: '\e806'; } /* '' */
.icon-mail:before { content: '\e807'; } /* '' */
.icon-name:before { content: '\e808'; } /* '' */
.icon-next:before { content: '\e809'; } /* '' */
.icon-note:before { content: '\e80a'; } /* '' */
.icon-password:before { content: '\e80b'; } /* '' */
.icon-password2:before { content: '\e80c'; } /* '' */
.icon-phone:before { content: '\e80d'; } /* '' */
.icon-photo:before { content: '\e80e'; } /* '' */
.icon-pin:before { content: '\e80f'; } /* '' */
.icon-profile:before { content: '\e810'; } /* '' */
.icon-serial:before { content: '\e811'; } /* '' */
.icon-tasks:before { content: '\e812'; } /* '' */
